# Validates Functions Framework with GCF buildpacks.
name: Buildpack Integration Test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  # Runs every day on 12:00 AM PST
  schedule:
    - cron: "0 0 * * *"

# Declare default permissions as read only.
permissions: read-all

jobs:
  python37:
    uses: GoogleCloudPlatform/functions-framework-conformance/.github/workflows/buildpack-integration-test.yml@v1.8.4
    with:
      http-builder-source: 'tests/conformance'
      http-builder-target: 'write_http_declarative'
      cloudevent-builder-source: 'tests/conformance'
      cloudevent-builder-target: 'write_cloud_event_declarative'
      prerun: 'tests/conformance/prerun.sh ${{ github.sha }}'
      builder-runtime: 'python37'
      builder-runtime-version: '3.7'
      start-delay: 5
  python38:
    uses: GoogleCloudPlatform/functions-framework-conformance/.github/workflows/buildpack-integration-test.yml@v1.8.4
    with:
      http-builder-source: 'tests/conformance'
      http-builder-target: 'write_http_declarative'
      cloudevent-builder-source: 'tests/conformance'
      cloudevent-builder-target: 'write_cloud_event_declarative'
      prerun: 'tests/conformance/prerun.sh ${{ github.sha }}'
      builder-runtime: 'python38'
      builder-runtime-version: '3.8'
      start-delay: 5
  python39:
    uses: GoogleCloudPlatform/functions-framework-conformance/.github/workflows/buildpack-integration-test.yml@v1.8.4
    with:
      http-builder-source: 'tests/conformance'
      http-builder-target: 'write_http_declarative'
      cloudevent-builder-source: 'tests/conformance'
      cloudevent-builder-target: 'write_cloud_event_declarative'
      prerun: 'tests/conformance/prerun.sh ${{ github.sha }}'
      builder-runtime: 'python39'
      builder-runtime-version: '3.9'
      start-delay: 5
  python310:
    uses: GoogleCloudPlatform/functions-framework-conformance/.github/workflows/buildpack-integration-test.yml@v1.8.4
    with:
      http-builder-source: 'tests/conformance'
      http-builder-target: 'write_http_declarative'
      cloudevent-builder-source: 'tests/conformance'
      cloudevent-builder-target: 'write_cloud_event_declarative'
      prerun: 'tests/conformance/prerun.sh ${{ github.sha }}'
      builder-runtime: 'python310'
      builder-runtime-version: '3.10'
      start-delay: 5