name: Python Conformance CI
on:
  push:
    branches:
      - 'main'
  pull_request:

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    strategy:
      matrix:
        python: ['3.9', '3.10', '3.11', '3.12']
        platform: [ubuntu-latest]
        include:
          - platform: ubuntu-22.04
            python: '3.8'
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          files.pythonhosted.org:443
          github.com:443
          objects.githubusercontent.com:443
          proxy.golang.org:443
          pypi.org:443
          storage.googleapis.com:443
          release-assets.githubusercontent.com:443

    - name: Checkout code
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

    - name: Setup Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: ${{ matrix.python }}

    - name: Install the framework
      run: python -m pip install -e .

    - name: Setup Go
      uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
      with:
        go-version: '1.26'

    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@403fda9e6e176aae87646aace9bed075cee8e7fd # v1.8.8
      with:
        functionType: 'http'
        useBuildpacks: false
        validateMapping: false
        cmd: "'functions-framework --source tests/conformance/main.py --target write_http --signature-type http'"

    - name: Run event conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@403fda9e6e176aae87646aace9bed075cee8e7fd # v1.8.8
      with:
        functionType: 'legacyevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'functions-framework --source tests/conformance/main.py --target write_legacy_event --signature-type event'"

    - name: Run CloudEvents conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@403fda9e6e176aae87646aace9bed075cee8e7fd # v1.8.8
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'functions-framework --source tests/conformance/main.py --target write_cloud_event --signature-type cloudevent'"

    - name: Run HTTP conformance tests declarative
      uses: GoogleCloudPlatform/functions-framework-conformance/action@403fda9e6e176aae87646aace9bed075cee8e7fd # v1.8.8
      with:
        functionType: 'http'
        useBuildpacks: false
        validateMapping: false
        cmd: "'functions-framework --source tests/conformance/main.py --target write_http_declarative'"

    - name: Run CloudEvents conformance tests declarative
      uses: GoogleCloudPlatform/functions-framework-conformance/action@403fda9e6e176aae87646aace9bed075cee8e7fd # v1.8.8
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'functions-framework --source tests/conformance/main.py --target write_cloud_event_declarative'"

    - name: Run HTTP concurrency tests declarative
      uses: GoogleCloudPlatform/functions-framework-conformance/action@403fda9e6e176aae87646aace9bed075cee8e7fd # v1.8.8
      with:
        functionType: 'http'
        useBuildpacks: false
        validateConcurrency: true
        cmd: "'functions-framework --source tests/conformance/main.py --target write_http_declarative_concurrent'"

    - name: Run Typed tests declarative
      uses: GoogleCloudPlatform/functions-framework-conformance/action@403fda9e6e176aae87646aace9bed075cee8e7fd # v1.8.8
      with:
        functionType: 'http'
        declarativeType: 'typed'
        useBuildpacks: false
        validateMapping: false
        cmd: "'functions-framework --source tests/conformance/main.py --target typed_conformance_test'"
