name: Python Conformance CI
on: [push, pull_request]

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10', '3.11']
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          files.pythonhosted.org:443
          github.com:443
          objects.githubusercontent.com:443
          proxy.golang.org:443
          pypi.org:443
          storage.googleapis.com:443

    - name: Checkout code
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

    - name: Setup Python
      uses: actions/setup-python@75f3110429a8c05be0e1bf360334e4cced2b63fa # v2.3.3
      with:
        python-version: ${{ matrix.python }}

    - name: Install the framework
      run: python -m pip install -e .

    - name: Setup Go
      uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
      with:
        go-version: '1.16'

    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@1975792fb34ebbfa058d690666186d669d3a5977 # v1.8.0
      with:
        version: 'v1.6.0'
        functionType: 'http'
        useBuildpacks: false
        validateMapping: false
        cmd: "'functions-framework --source tests/conformance/main.py --target write_http --signature-type http'"

    - name: Run event conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@1975792fb34ebbfa058d690666186d669d3a5977 # v1.8.0
      with:
        version: 'v1.6.0'
        functionType: 'legacyevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'functions-framework --source tests/conformance/main.py --target write_legacy_event --signature-type event'"

    - name: Run CloudEvents conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@1975792fb34ebbfa058d690666186d669d3a5977 # v1.8.0
      with:
        version: 'v1.6.0'
        functionType: 'cloudevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'functions-framework --source tests/conformance/main.py --target write_cloud_event --signature-type cloudevent'"

    - name: Run HTTP conformance tests declarative
      uses: GoogleCloudPlatform/functions-framework-conformance/action@1975792fb34ebbfa058d690666186d669d3a5977 # v1.8.0
      with:
        version: 'v1.6.0'
        functionType: 'http'
        useBuildpacks: false
        validateMapping: false
        cmd: "'functions-framework --source tests/conformance/main.py --target write_http_declarative'"

    - name: Run CloudEvents conformance tests declarative
      uses: GoogleCloudPlatform/functions-framework-conformance/action@1975792fb34ebbfa058d690666186d669d3a5977 # v1.8.0
      with:
        version: 'v1.6.0'
        functionType: 'cloudevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'functions-framework --source tests/conformance/main.py --target write_cloud_event_declarative'"

    - name: Run HTTP concurrency tests declarative
      uses: GoogleCloudPlatform/functions-framework-conformance/action@1975792fb34ebbfa058d690666186d669d3a5977 # v1.8.0
      with:
        version: 'v1.6.0'
        functionType: 'http'
        useBuildpacks: false
        validateConcurrency: true
        cmd: "'functions-framework --source tests/conformance/main.py --target write_http_declarative_concurrent'"

    - name: Run Typed tests declarative
      uses: GoogleCloudPlatform/functions-framework-conformance/action@1975792fb34ebbfa058d690666186d669d3a5977 # v1.8.0
      with:
        version: 'v1.6.0'
        functionType: 'http'
        useBuildpacks: false
        validateMapping: false
        cmd: "'functions-framework --source tests/conformance/main.py --target write_typed_event_declarative'"
