name: Release to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build-and-pubish:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ref: ${{ github.event.release.tag_name }}
      - name: Install Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      - name: Install build dependencies
        run: python -m pip install -U setuptools build wheel
      - name: Build distributions
        run: python -m build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@e9ccbe5a211ba3e8363f472cae362b56b104e796 # main
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
