name: Python Unit CI
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        python: [3.6, 3.7, 3.8]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: Test
      run: python -m tox -e py-${{ matrix.platform }}
